@font-face {
  font-family: "RalewayThin";
  src: url("./fonts/Raleway/RalewayThin/RalewayThin.eot");
  src: url("./fonts/Raleway/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
  url("./fonts/Raleway/RalewayThin/RalewayThin.woff") format("woff"),
  url("./fonts/Raleway/RalewayThin/RalewayThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayExtraLight";
  src: url("./fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot");
  src: url("./fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
  url("./fonts/Raleway/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
  url("./fonts/Raleway/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayLight";
  src: url("./fonts/Raleway/RalewayLight/RalewayLight.eot");
  src: url("./fonts/Raleway/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
  url("./fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff"),
  url("./fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("./fonts/Raleway/RalewayRegular/RalewayRegular.eot");
  src: url("./fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
  url("./fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"),
  url("./fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayMedium";
  src: url("./fonts/Raleway/RalewayMedium/RalewayMedium.eot");
  src: url("./fonts/Raleway/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
  url("./fonts/Raleway/RalewayMedium/RalewayMedium.woff") format("woff"),
  url("./fonts/Raleway/RalewayMedium/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("./fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("./fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
  url("./fonts/Raleway/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
  url("./fonts/Raleway/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "RalewayBold";
  src: url("./fonts/Raleway/RalewayBold/RalewayBold.eot");
  src: url("./fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
  url("./fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff"),
  url("./fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: RalewayExtraLight;
  font-size: 14px;
  background-color: #FFFFFF;
  margin-bottom: 100px;
  @media (min-width: 768px) {
    margin-bottom: 150px;
    background-color: rgb(251, 251, 251);
  }
}

*,
*:hover {
  outline-style:none;
  outline: none;
}

h1, h2, h3 {
  margin-top: 0px;
}

h1 {
  display: none;
  font-family: RalewayRegular;
  line-height: 42px;
  @media (min-width: 768px) {
    display: block;
  }
}

ol {
  padding-left: 15px;
}

.page-h2-header {
  display: none;
  //margin-top: 42px;
  //margin-bottom: 70px;
  font-family: RalewayThin;
  font-size: 36px;
  line-height: 42px;
  @media (min-width: 768px) {
    display: block;
  }
}

.page-h3-header {
  font-size: 24px;
}

a {
  color: #000000;
  &:hover, a:focus {
    text-decoration: none;
  }
}

.p0 {
  padding: 0px;
}

.formBasic {
  padding: 0 15px;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 260px;
  }

  input {
    height: 44px;
    border-radius: 30px;
    border-color: #e8e8e8;
    box-shadow: 0 5px 5px rgba(0,0,0,.05);
    font-family: RalewayRegular;
    text-align: center;
  }
  input:focus {
    border-color: #e8e8e8!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  button {
    height: 42px;
    padding: 8px 0px;
    background: #e64a19;
    border: 0px;
    border-radius: 40px;
    font-family: RalewayRegular;
    line-height: 24px;
    &:hover {
      background-color: #232323;
    }
    &:focus {
      outline: 0!important;
    }
  }

  .formLinks {
    margin-bottom: 30px;
    font-family: RalewayRegular;
    font-size: 12px;

    .row {
      > div:first-child {
        text-align: left;
      }
      > div:last-child {
        text-align: right;
      }
    }

  }
}

.container {
  @media (min-width: 992px) and (max-width: 1200px) {
    width: auto;
  }
}